<meta charset="UTF-8">

<script src="public/js/bar_plot.js"> </script>
<script src="public/js/bar_plot_load.js"> </script>

<div class="demo-cards mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-grid">

    <div id="clickme" style="height: 100%" class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--8-col-desktop">
        <div class="service-usage-graph" style="margin-left: 10px; width: 85%; height: 80%; padding: 10px;"></div>
</div>

<div style="height: 100%" class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
    <div id="donutchart" style="width: 100%; height: 100%;"></div>
</div>

</div>